@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4B234A;
  --color-secondary: #F6C8AB;
  --color-background: #F4EFEA;
  --color-text: #2E2D4D;

  --font-heading: "Caudex", serif;
  --font-body: "Quicksand", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary;
  }

  p {
    @apply font-body text-text;
  }
}

@layer utilities {
  .btn {
    @apply inline-block bg-primary text-background font-heading px-6 py-3 rounded-full transition-colors duration-300 hover:bg-secondary;
  }
}